[includeIf "gitdir:~/code/"]
  path = .gitconfig-fairwinds
[includeIf "gitdir:~/workspace/"]
  path = .gitconfig-fairwinds
[includeIf "gitdir:~/dotfiles/"]
  path = .gitconfig-personal
[includeIf "gitdir:~/code/oss/"]
  path = .gitconfig-personal
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
  pager = bash -c 'delta --width ${FZF_PREVIEW_COLUMNS:-$COLUMNS}'
[pull]
  rebase = false
[init]
  defaultBranch = main
[diff]
  colorMoved = default
[difftool]
  prompt = false
[merge]
  conflictStyle = zdiff3
[mergetool]
  prompt = false
[interactive]
  diffFilter = delta --color-only
[delta]
  dark = true
  navigate = true
  syntax-theme = base16
  true-color = always
  file-style = white
  file-decoration-style = blue overline
  line-numbers = true
  line-numbers-minus-style = "#c27d78"
  line-numbers-plus-style = "#86c67e"
  line-numbers-left-format = "{nm:>4} "
  line-numbers-right-format = "{np:>4} "
  minus-style = syntax "#3c211b"
  plus-style = syntax "#243e1e"
  minus-emph-style = syntax "#6b1f18"
  plus-emph-style = syntax "#2e6f24"
  minus-empty-line-marker-style = black black
  plus-empty-line-marker-style = black black
  side-by-side = true
  hunk-header-style = file line-number syntax
  zero-style = syntax
