[includeIf "gitdir:~/code/"]
  path = .gitconfig-fairwinds
[includeIf "gitdir:~/workspace/"]
  path = .gitconfig-fairwinds
[includeIf "gitdir:~/dotfiles/"]
  path = .gitconfig-personal
[includeIf "gitdir:~/code/oss/"]
  path = .gitconfig-personal
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
[pull]
  rebase = false
[init]
  defaultBranch = main
[diff]
  tool = meld
[difftool]
  prompt = false
[difftool "meld"]
  cmd = meld "$LOCAL" "$REMOTE"
[merge]
  tool = meld
[mergetool]
  prompt = false
[mergetool "meld"]
  cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output="$MERGED"
  keepBackup = false
